<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find easy_bot)/urdf/common_inertia.xacro"/>

    <xacro:macro name="easy_bot">
    <link name="world" />

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <material name='white'>
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.1 0.1 0.1"/>
            </geometry>
            <material name='white'>
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </collision>

        <xacro:box_inertia m="1.0" w="0.1" h="0.1" d="0.1" />

    </link>

    <joint name="world_to_base" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="link1">
        <visual>
            <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.05" length="0.2"/>
            </geometry>
            <material name='white'>
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.1" length="0.2"/>
            </geometry>
            <material name='white'>
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </collision>

        <xacro:cylinder_inertia m="1.0" r="0.1" h="0.2" />
    </link>

    <joint name="joint1" type="continuous">
        <parent link="base_link"/>
        <child link="link1"/>
        <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
        <axis xyz="0.0 0.0 1.0"/>
    </joint>

    <link name="link2">
        <visual>
            <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.05" length="0.2"/>
            </geometry>
            <material name='white'>
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>

        <collision>
            <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
            <geometry>
                <cylinder radius="0.1" length="0.2"/>
            </geometry>
            <material name='white'>
                <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </collision>

        <xacro:cylinder_inertia m="1.0" r="0.1" h="0.2" />
    </link>

    <joint name="joint2" type="continuous">
        <parent link="link1"/>
        <child link="link2"/>
        <origin xyz="0.0 0.0 0.2" rpy="0.0 0.0 0.0"/>
        <axis xyz="0.0 1.0 0.0"/>
    </joint>


    </xacro:macro>
</robot>