<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="easy_bot">

<xacro:include filename="$(find easy_bot)/urdf/easy_bot_description.urdf.xacro"/>
<xacro:include filename="$(find easy_bot)/urdf/easy_bot.ros2_control.xacro"/>

<xacro:easy_bot />
<xacro:easy_bot_ros2_control />


    
</robot>